.footer {
  display: flex;
  min-height: var(--footer-height);
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5ch;
  color: inherit;
}
